:root {
    --color-principal: #00bf62;
    --color-secundario: #4CB963;
    --color-fondo: #DEF2C8;
}

html {
    scroll-behavior: smooth;
}

#boton {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: var(--color-principal);
    cursor: pointer;
    padding: 0.5rem;
}

#boton img {
    height: 2rem;
}

body {
    min-height: 100dvh;
    margin: 0;

    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;

    display: flex;
    flex-direction: column;

    background-image: linear-gradient(rgb(222, 242, 201), rgba(131, 131, 131, 0.5)), url(/utils/Gimnasio\ 3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    /* max-width: 100vw; */
    gap: 2rem;
    padding: 1rem;
    background-color: black;
    color: var(--color-principal);
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(3rem, 5vw);
    margin: 0;
}

header img {
    height: min(8rem, 10vw);
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.05);
}

header p {
    font-style: italic;
    font-weight: 600;
    font-size: min(1.25rem, 2vw);
    margin: 0;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
    gap: 2rem;
}

nav li {
    align-items: center;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    outline: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--color-principal);
    transition: 0.75s;
}

section {
    padding: 1rem;
}

#Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#Home h1 {
    font-style: italic;
    font-size: 3vw;
}

#Home div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#Home p {
    font-size: 1.5vw;
}

#Home img {
    border-radius: 1rem;
    max-width: 50%;
    height: auto;
}

#alerta {
    font-weight: bold;
}

#Home a {
    height: 5vw;
    width: 15vw;
    padding: 0.5rem;

    text-align: center;
    align-content: center;

    border: none;
    border-radius: 1rem;

    font-size: 1.35vw;
    font-weight: bold;
    text-decoration: none;

    background-color: black;
    color: white;
    transition: transform 0.3s ease;
}

#Home a:hover {
    transform: scale(1.05);
}

#Nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Nosotros h1 {
    font-size: 2.5vw;
}

#Nosotros #tarjetas {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#Nosotros .tarjeta {
    background-color: var(--color-secundario);
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem;
}

#Nosotros .tarjeta h3 {
    font-style: italic;
    text-align: center;
}

#Nosotros img {
    height: 15rem;
    border-radius: 50%;
}

#Clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Clientes #opiniones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#Clientes .cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    background-color: white;
    padding: 0 1.25rem;
    border-radius: 1rem;
}

#Clientes .cliente p {
    font-style: italic;
}

#Contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.campo {
    display: flex;
    flex-direction: column;
}

.escondido {
    display: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
}

footer img {
    height: 12rem;
}

footer .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .redes img {
    height: 1.5rem;
}

.nombreRedes {
    margin: 0.5rem;
}

@media (max-width: 1279px) {
    
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        gap: 1.5rem;
    }

    header img {
        order: 1;
        height: 6rem;
    }

    header h1 {
        order: 2;
        font-size: 2.5rem;
    }

    header p {
        order: 3;
        font-size: 1rem;
    }

    nav ul {
        gap: 1rem;
    }
}