#boton {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #058E3F;
    cursor: pointer;
    padding: 0.5rem;
}

#boton img {
    height: 2rem;
}

body {
    min-height: 100dvh;
    margin: 0;

    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;

    display: grid;
    grid-template-rows: repeat(7, auto);

    background-color: #DEF2C8;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 1rem;
    background-color: black;
    color: #00bf62;
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
}

header img {
    height: 8rem;
}

header p {
    font-style: italic;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    outline: none;
}

nav a:hover {
    text-decoration: underline;
    color: #00bf62;
    transition: 0.75s;
}

section {
    padding: 1rem;
}

#Home {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #DEF2C8;
}

#Home h1 {
    font-style: italic;
    font-size: 2rem;
}

#Home div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}

#Home p {
    padding: 0 1rem;
    text-justify: auto;
}

#Home img {
    border-radius: 1rem;
    max-width: 30rem;
    height: auto;
}

#alerta {
    font-weight: bold;
}

#Home a {
    height: 4rem;
    width: 10rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: #00be62;
    border: none;
    /* outline: none; */
    text-decoration: none;
    color: black;
    text-align: center;
    align-content: center;
}

#Home a:hover {
    font-weight: bold;
    transition: 0.5s;
}

#Nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Nosotros #tarjetas {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    /* gap: 2rem; */
}

#Nosotros .tarjeta {
    background-color: #00be62;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem;
}

#Nosotros .tarjeta h3 {
    font-style: italic;
    text-align: center;
}

#Nosotros img {
    height: 15rem;
    border-radius: 50%;
}

#Clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Clientes #opiniones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#Clientes .cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    background-color: white;
    padding: 0 1.25rem;
    border-radius: 1rem;
}

#Clientes .cliente p {
    font-style: italic;
}

#Contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.campo {
    display: flex;
    flex-direction: column;
}

.escondido {
    display: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
}

footer img {
    height: 12rem;
}

footer .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .redes img {
    height: 1.5rem;
}

.nombreRedes {
    margin: 0.5rem;
}

@media (max-width: 1025px) {
    header {
        grid-template-areas: "img img"
        "h1 p";
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        grid-template-areas: "li li"
        "li li";
    }
}

@media (max-width: 767px) {
    header {
        grid-template-areas: "img"
        "h1"
        "p";
        grid-template-columns: auto;
    }
}